{% extends "base.html" %}

{% block javascript %}
	<script>
	/*
		(function($){
		  $.extend({
		    playSound: function(){
		       $("<embed src='"+arguments[0]+"' hidden='true' autostart='true' loop='false' class='playSound'>").append();
		    }
		  });

		})(jQuery);

	*/
		function adjust_scores(){
			progress_bars = $(".bar");
	  		$.each(progress_bars,function(){
	  			$(this).attr('style','width:' + $(this).text()*100 +'%')
	  		});
		}

		$(document).ready(function() {
	  	// Handler for .ready() called.
        	$('embed').remove();
	  		adjust_scores();

	  		$('#play_sound').click(function(){

	  		 	$('body').append("<embed src='" + $('#play_sound').attr('src') + $('#src_sound').text() + "'"+ "autostart='true' hidden='true' loop='false'>");
	  		 });

	  		$('#help_me').click(function(){
	  			$('#help').show().delay(8000).fadeOut()
	  		});
    		

	  	});
		</script>

{% endblock javascript %}

{% block container %}
<!-- enable the modal, info when clicked over review
<script type="text/javascript" src="static/js/load_modal.js"></script>
-->
	<div class="container">
		<div class="row">
		{% include "lesson/exercise/dialogue/practice.html" with dialogues=dialogues success=success %}
		{% include "lesson/exercise/dialogue/list.html" with dialogues=dialogues %}
		{#{% include "lesson/exercise_recommendation.html" with exercise=exercise %}#}
		</div>
	</div>
{% endblock container %}