{% load basicmath %}

<div class="span12 well">
<!-- div with results -->
  	
  	<table class="table table-stripped">
      <thead>
        <tr>
          <th>English</th>
          <th>Spanish</th>
          <th>Tries</th>
          <th>Corrects</th>
          <th>Last Correct</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for exercise in exercises %}
        	<tr>
				<td> {{ exercise.translation.en }} </td>
				<td> {{ exercise.translation.es|truncatechars:9 }} </td>
				<td> {{ exercise.tries }} </td>
				<td> {{ exercise.corrects }} </td>
				<td> {{ exercise.last_correct }} </td>
				<td><div class="progress progress-success progress-striped">
					<div class="bar" style="width:100%"> {{ exercise.corrects|div:exercise.tries }} </div>
					</div>
				</td>
			 </tr>
    	{% endfor %}  
       
       </tbody>
      </table>

</div>