<!--Carrusel Item 1:  -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    
    <div class="item active">
      <img src="static/web/imgs/1.png" width="100%" height="100%">

      <div class="carousel-caption">
        <h4>Easy Panel </h4>
        <p>Learn words and sentences in the panel. Listen in foreing language, and try to memorize using the images!</p>
      </div>

    </div>

    <div class="item">
      <img src="static/web/imgs/2.png" width="100%" height="100%">

      <div class="carousel-caption">
        <h4>Easy Admin </h4>
        <p>For teachers is easy to upload new exercises!</p>
      </div>

    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!--MyCarrusel-->