
  <div class="span4">
    <h2>How it works?</h2>
    <p>
      Once you crate your account, as student or professor, you can access the platform. Since then, all you have to do is or learn playing as a good student, or create resource for students. Every time you mistake, be ready to repeat and correct.
    </p>
    <div>
      <p><a class="btn btn-info btn-mini" href="./details.html#functionality">View details &raquo;</a></p>
    </div>
  </div>
  <div class="span4">
    <h2>Why is PoLingua so good?</h2>
     <p>
      The special algorithms help you to improve your language and remember words and phrases in an efficient way. The algorithm itself, addapt to yourself and it becomes your personal trainer. 
     </p>
    <p><a class="btn btn-info btn-mini" href="./details.html#good">View details &raquo;</a></p>    
 </div>

 <div class="span4">
    <h2>Does it cost?</h2>
    <p>
      Naaaaa! its totally free. We are having fun with this and we expect many people will use it. But remember, if you find it youseful you can contribute with our development. Getting donations, is the only way we support the project. 
    </p>
    <p><a class="btn btn-info btn-mini" href="./details.html#price">View details &raquo;</a></p>
  </div>

