{% extends "base.html" %}

{% block container %}
<div class="container">
		<div class="row-fluid">
            <div class="span4">
    			<br>
            </div>

            <div class="span4">
            	<div class="span4">
            		<div class="span1">
            			<img style="width:60px;height:60px;" src="/static/imgs/tech_port_logo.png"/>
            		</div>
            		<p><h3>Polingua</h3></p>
            		<p>The place to learn Foreign Languages</h3></p>
            	</div>
                {% if form.errors %}
                <div class="span4 alert alert-error">
                  <!-- <a class="close" data-dismiss="alert" href="#">×</a> -->
                  <h4 class="alert-heading">Error!</h4>
                    <p>Your username and password didn't match. Please try again.</p>
                </div>
                {% endif %}
            	<div class="span4">
	    			<form class="well" method="post" action="{% url django.contrib.auth.views.login %}">
	    				{% csrf_token %}
						<label for="id_username">Username</label>
						<input type="text" id="id_username" name="username" class="input-medium" placeholder="Username"/>
					    <label for="id_password">Password</label>
					    <input type="password" id="id_password" name ="password" class="input-medium" placeholder="Password"/>
					    <label></label>
						<button type="submit" class="btn btn-primary input-medium" value="">Sign in</button>
						<input type="hidden" name="next" value="/train/" />
					</form>
				</div>
            </div>
            <div class="span4">
    			<br>
            </div>
        </div>
</div>

{% endblock %}