{% extends "base.html" %}

{% block css %}
    {{block.super}}
    <link href="/static/css/words.css" rel="stylesheet">

{% endblock css %}

{% block javascript %}
    {{block.super}}
    <script type="text/javascript" src="/static/js/xhrcross.js"></script>
    {#<script type="text/javascript" src="/static/js/load_statistics.js"></script>#}
    <script type="text/javascript" src="/static/js/practice.js"></script>
{% endblock javascript %}


{% block container %}
<html>
<script>
    $(document).ready(function() {

        //load_help_buttons();

        $(document).ajaxComplete(function() {
            adjust_scores();
        });


        //first time document.ready() load this components
        update_exercise();
        update_list_exercises();

      });

</script>
<body>
    <div class="container">
        {% include "lesson/exercise/words/exercise.html" %}
        {% include "lesson/exercise/words/exercises.html" %}
    </div>
</body>
</html>

{% endblock container %}
